.bundle/
.gemtags
.ruby-*
.pryrc
.pry_history
.railsrc
*.sublime*
.tags
.yardoc/
coverage
log/*.log
pkg/
spec/internal
tmp
jetty
uri-cache

./spec/internal

# Sublime text files
*.sublime*

# Ctags files
./bin/ctags.rb
.tags
.gemtags

