.bundle/
.ruby-*
.pryrc
.pry_history
.railsrc
*.sublime*
.yardoc/
coverage
log/*.log
pkg/
spec/internal
tmp
jetty
uri-cache

./spec/internal

# This gem SHOULD ignore Gemfile.lock
Gemfile.lock

# Sublime text files
*.sublime*

# Ctags files
bin/ctags.rb
.tags
.gemtags

# Server reset utility
bin/triannon_server_reset.sh

