<!DOCTYPE html>
<html>
<head>
  <title>Cerberus</title>
  <%= stylesheet_link_tag    "cerberus/annotations/application", media: "all" %>
  <%= javascript_include_tag "cerberus/annotations/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
